.header{
   position: sticky;
   top: 0px;
   left: 0px;
   background: #000;
   padding: 30px 60px;
   transition: all 0.5s ease-out;
   z-index: 200;
}
.header__active{
   background: #000;
   padding: 10px 20px;
   background: #252525;
}
.header__wrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;

   color: #ffffff;
   text-decoration: none;
}
.header__buttons{
   max-width: 60%;
   display: flex;
   justify-content:space-between;
   flex: auto;
   color: #ffffff;
   text-decoration: none;
}
.header__buttons a{
   color: #ffffff;
   text-decoration: none;
}.header__buttons a:hover {
   transition: all 0.2s ease-in-out;;
   color: aqua;
   text-shadow: 1px 1px 2px rgb(0, 174, 255), 0 0 1em rgb(0, 174, 255), 0 0 0.2em rgb(0, 174, 255);
}
.header__buttons.burger {
   display: flex;
   flex-direction: column;
   padding: 20px;
   height: 80%;
   font-size: 24px;
}
.header__buttons.burger a{
   color: #000;
}
.header__buttons.burger a:hover {
   text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(230, 233, 235);
}

/* BURGER */
.burger__span{
   /* color: #fff; */
   width: 30px;
	height: 2px;
	position: absolute;
	top: 0%;
	right: 0%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	transition: all 0.5s;
}
.burger__span:nth-of-type(2) {
   top: calc(50% - 5px);
}

.burger__span:nth-of-type(3) {
   top: calc(50% + 5px);
}
.burger__button{
   width: 30px;
   height: 30px;
   position: relative;
   display: none;
   z-index: 999;
   cursor: pointer;
   transition: all 0.7s ease-in-out;
}
.burger__wrapper{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 15px;
   background: #FFEFBA;
   transform: translateX(-100%);
   transition: transform 0.5s;
}
.burger__wrapper.active {
   transform: translateX(0);

}
@media screen and (max-width: 850px) {
   .burger__button{
      display: block;
   }
   .header__buttons{
      display: none;
   }
}
@media screen and (min-width: 850px){
   .burger__wrapper{
      display: none;
   }
}