@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   src: url('../src/assets/fonts/Oswald-VariableFont_wght.ttf') format("truetype");
}
*{
   scroll-behavior: smooth;
   font-family: 'Montserrat';
}
