@font-face {
   font-family: 'Oswald',sans-serif;;
   font-style: normal;
   font-weight: 400;
   src: local(Oswald);
}
*{
   scroll-behavior: smooth;
   font-family: "Oswald", sans-serif;
}
