@font-face {
   font-family: Oswald-Regular;
   font-style: normal;
   font-weight: 400;
   src: local(Oswald-Regular);
}
*{
   scroll-behavior: smooth;
   font-family: "Oswald-Regular", sans-serif;
}
